/* starting with mobile style */
@viewport {
  width: device-width;
    zoom: 1;
    min-zoom: 0.5;
    max-zoom: 3;
    user-zoom: fixed;
}

html,
body {
	width: 100%;
	margin: 0;
}

.logo {
	/*display: inline-block;
	float: left;*/
}

.logo img {
}

ul.menu-list {
	list-style: none;
	margin-top: 10px;
}

li.menu-item {
	float: left;
	display: block;
	width: 100px;
	height: auto;
	background-color: #FD7B00;
	text-align: center;
}

li.menu-item a {
	color: #fff;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	padding: 10px 0;
	display: block;
}

li.menu-item.login a {
	background: url("header_login_icon@2x.png") no-repeat center;
	background-size: 25px 25px;
	width: 43px;
    height: 43px;
    display: block;
    text-indent:-9999px;
    overflow: hidden;
}


/* desktop style */
/*@media screen and (min-width: 768px) {
	li.menu-item.login {
		background: none;
		width: auto;
	    height: auto;
	}
}*/
